# Dépendances (ne jamais versionner)
node_modules/
package-lock.json
yarn.lock

# Variables d'environnement
.env
.env.local
.env.*.local

# Fichiers système
.DS_Store
*.log

# Idées
.idea/
.vscode/
*.swp